
[draggable=true] {
  cursor: move;
}

.resizable {
  overflow: scroll;
  resize: both;
  max-width: 800px;
  max-height: 600px;
  border: 1px solid black;
  min-width: 50px;
  min-height: 50px;
  background-color: skyblue;
}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXGWcUAAohJPMo6a-Nay2mKu1b_0Tnb9KldP972OJGXAOQjMwjbP9XicM&s=10);
  background-repeat: no-repeat;
  background-size: cover;
}
.folder {
  background-image: url(folderpng.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 32px;
  background-color: transparent;
  border: 0;
}
.RightDTRow{
  margin-left: 1820px;
  position:absolute;
}
table, th, td {
  border-collapse: collapse;
  padding: 10px;
  width: 68px;
  table-layout: auto
}
table{
  position: absolute;
  left:1750px
}
.icon{
  background-size: contain;
  background-repeat: no-repeat;
  padding: 32px;
  background-color: transparent;
  border: 0;
}